<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">API demo - Time zone checker</h1>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <label>Usages:
        <ul>
          <li>input a city name you would like to check timezone</li>
          <li>*in the backend, it will call Google APIs to get the city location</li>
          <li>*then get the time zone with the city location</li>
        </ul>
      </label>
    </div>
    <div class="row">
      <label>Input city name:
        <input class="form-control" (input)="onSearchChange($event.target.value)" />
      </label>
      <label>Time Zone:
        <div>{{timezone}}</div>
      </label>
    </div>
    
    <div class="row">
      <ul>
        <li *ngFor="let i of predictions">{{i.description}}</li>
      </ul>
    </div>
    
    <!-- <div>Time: {{ time | async }}</div> -->
  </div>
</div>
